@model Nguoi
<p>Id <input asp-for="Id" /></p>
<p>Ten <input asp-for="Name" /></p>
<p>Tuoi <input asp-for="tuoi" /></p>
<p>Mo ta<input asp-for="Description" /></p>
<button type="submit">Create</button>